In [1]:
import pandas as pd
df = pd.read_csv("C:\Users\Siddharth\Downloads\MOCK_DATA.csv")
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1025776994.py, line 2)

In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Siddharth\\Downloads\\MOCK_DATA.csv")
df

,id,first_name,last_name,email,gender,ip_address
0,1,Julie,Antonognoli,jantonognoli0@linkedin.com,Male,222.105.42.212
1,2,Petey,Burgill,pburgill1@sogou.com,Male,71.104.84.173
2,3,Kathrine,Siggers,ksiggers2@hc360.com,Female,15.214.179.247
3,4,Earvin,Doudney,edoudney3@soundcloud.com,Bigender,145.123.249.144
4,5,Valerye,Ferraro,vferraro4@google.cn,Female,20.244.184.13
...,...,...,...,...,...,...
995,996,Thorsten,Estcot,testcotrn@163.com,Male,208.41.227.88
996,997,Fidelio,Steade,fsteadero@columbia.edu,Male,81.66.85.38
997,998,Rebeka,Cragell,rcragellrp@51.la,Female,59.65.61.101
998,999,Ulla,Harbar,uharbarrq@howstuffworks.com,Female,121.192.199.202
999,1000,Blancha,Poley,bpoleyrr@list-manage.com,Female,152.81.25.130

In [3]:
df['ip_address'].max()

'99.69.195.170'

In [4]:
df['first_name']=="Kathrine"

0      False
1      False
2       True
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: first_name, Length: 1000, dtype: bool

In [5]:
df["email"][df["first_name"]=="Kathrine"]

2    ksiggers2@hc360.com
Name: email, dtype: object