In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ['harry', 'siddharth','nitika'],
    "contry": ['Eroupe', 'MiddleEast', 'Usa']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

        name      contry
0      harry      Eroupe
1  siddharth  MiddleEast
2     nitika         Usa