In [1]:
#Making excel data;

import pandas as pd

df = pd.DataFrame({
    "Days": ["1/1/2017", "1/4/2017", "1/5/2017", "1/6/2017", "1/7/2017", "1/8/2017", "1/9/2017", "1/10/2017", "1/11/2017"],
    "Temprature": [32, " ", 28, " " ,32, " ", " ",34, 40], 
    "WindSpeed": [6, 9, " ", 7, " ", " ", " ", 8, 12],
    "Event": ["Rain", "Sunny", "Snow", " ","Rain", "Sunny"," ", "Cloudy", "Sunny"]
})

df

        Days Temprature WindSpeed   Event
0   1/1/2017         32         6    Rain
1   1/4/2017                    9   Sunny
2   1/5/2017         28              Snow
3   1/6/2017                    7
4   1/7/2017         32              Rain
5   1/8/2017                        Sunny
6   1/9/2017
7  1/10/2017         34         8  Cloudy
8  1/11/2017         40        12   Sunny

In [3]:
#Creating a new xlsx (Excel) File
df.to_excel("Miss Data Handle.xlsx", "Sheet1")