In [1]:
#Making excel data;

import pandas as pd

df = pd.DataFrame({
    "Days": ["1/1/2017", "1/4/2017", "1/5/2017", "1/6/2017", "1/7/2017", "1/8/2017", "1/9/2017", "1/10/2017", "1/11/2017"],
    "Temprature": [32, " ", 28, " " ,32, " ", " ",34, 40], 
    "WindSpeed": [6, 9, " ", 7, " ", " ", " ", 8, 12],
    "Event": ["Rain", "Sunny", "Snow", " ","Rain", "Sunny"," ", "Cloudy", "Sunny"]
})

df

        Days Temprature WindSpeed   Event
0   1/1/2017         32         6    Rain
1   1/4/2017                    9   Sunny
2   1/5/2017         28              Snow
3   1/6/2017                    7
4   1/7/2017         32              Rain
5   1/8/2017                        Sunny
6   1/9/2017
7  1/10/2017         34         8  Cloudy
8  1/11/2017         40        12   Sunny

In [3]:
#Creating a new xlsx (Excel) File
df.to_excel("Miss Data Handle.xlsx", "Sheet1")

In [5]:
#Reading the type of everey Cell
type(df.Temprature[1])

str

In [7]:
df = pd.read_excel("Miss Data Handle.xlsx", "Sheet1", parse_dates=["Days"])
df

   Unnamed: 0       Days Temprature WindSpeed   Event
0           0 2017-01-01         32         6    Rain
1           1 2017-01-04                    9   Sunny
2           2 2017-01-05         28              Snow
3           3 2017-01-06                    7
4           4 2017-01-07         32              Rain
5           5 2017-01-08                        Sunny
6           6 2017-01-09
7           7 2017-01-10         34         8  Cloudy
8           8 2017-01-11         40        12   Sunny

In [8]:
# For Conformation that Day changed into "TimeStamp"
type(df.Days[0])

pandas._libs.tslibs.timestamps.Timestamp

In [1]:
df.set_index("Days", inplace=True)
df

NameError: name 'df' is not defined

In [2]:
import pandas as pd

df = pd.read_excel("Miss Data Handle.xlsx", "Sheet1")
df

   Unnamed: 0       Days Temprature WindSpeed   Event
0           0   1/1/2017         32         6    Rain
1           1   1/4/2017                    9   Sunny
2           2   1/5/2017         28              Snow
3           3   1/6/2017                    7
4           4   1/7/2017         32              Rain
5           5   1/8/2017                        Sunny
6           6   1/9/2017
7           7  1/10/2017         34         8  Cloudy
8           8  1/11/2017         40        12   Sunny

In [3]:
# Set Date column to main index column
df.set_index("Days", inplace=True)

In [4]:
df

           Unnamed: 0 Temprature WindSpeed   Event
Days
1/1/2017            0         32         6    Rain
1/4/2017            1                    9   Sunny
1/5/2017            2         28              Snow
1/6/2017            3                    7
1/7/2017            4         32              Rain
1/8/2017            5                        Sunny
1/9/2017            6
1/10/2017           7         34         8  Cloudy
1/11/2017           8         40        12   Sunny

In [6]:
type(df)

pandas.core.frame.DataFrame

In [10]:
new_df = df.fillna(5)
new_df

           Unnamed: 0 Temprature WindSpeed   Event
Days
1/1/2017            0         32         6    Rain
1/4/2017            1                    9   Sunny
1/5/2017            2         28              Snow
1/6/2017            3                    7
1/7/2017            4         32              Rain
1/8/2017            5                        Sunny
1/9/2017            6
1/10/2017           7         34         8  Cloudy
1/11/2017           8         40        12   Sunny

In [11]:
new_df = df.fillna({
    "Event": "No Event",
    "Temprature" : 0
})

new_df

           Unnamed: 0 Temprature WindSpeed   Event
Days
1/1/2017            0         32         6    Rain
1/4/2017            1                    9   Sunny
1/5/2017            2         28              Snow
1/6/2017            3                    7
1/7/2017            4         32              Rain
1/8/2017            5                        Sunny
1/9/2017            6
1/10/2017           7         34         8  Cloudy
1/11/2017           8         40        12   Sunny