In [1]:
import pandas as pd
dp = pd.read_excel("Weather Forcast report.xlsx", "Sheet1", parse_dates=['Day'])
dp.set_index('Day', inplace=True)

In [2]:
dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-06-01     3          NaN        7.0     NaN
2017-07-01     4         32.0        NaN    Rain
2017-08-01     5          NaN        NaN   Sunny
2017-09-01     6          NaN        NaN     NaN
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny