In [2]:
import pandas as pd
dp = pd.read_excel("Weather Forcast report.xlsx", "Sheet1", parse_dates=['Day'])
dp.set_index('Day', inplace=True)

In [3]:
dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-06-01     3          NaN        7.0     NaN
2017-07-01     4         32.0        NaN    Rain
2017-08-01     5          NaN        NaN   Sunny
2017-09-01     6          NaN        NaN     NaN
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [4]:
#droping the values having any single NaN cell
new_dp = dp.dropna()
new_dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [5]:
#droping the values having all cell as NaN values
new_dp = dp.dropna(how='all')
new_dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-06-01     3          NaN        7.0     NaN
2017-07-01     4         32.0        NaN    Rain
2017-08-01     5          NaN        NaN   Sunny
2017-09-01     6          NaN        NaN     NaN
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [6]:
# thresh values to be change (1/2) according the use

new_dp = dp.dropna(thresh=1)
new_dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-06-01     3          NaN        7.0     NaN
2017-07-01     4         32.0        NaN    Rain
2017-08-01     5          NaN        NaN   Sunny
2017-09-01     6          NaN        NaN     NaN
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [7]:
# thresh values to be change (1/2) according the use

new_dp = dp.dropna(thresh=2)
new_dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-06-01     3          NaN        7.0     NaN
2017-07-01     4         32.0        NaN    Rain
2017-08-01     5          NaN        NaN   Sunny
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [8]:
# thresh values to be change (1/2) according the use

new_dp = dp.dropna(thresh=3)
new_dp

            S.no  Temperature  Windspeed   Event
Day
2017-01-01     0         32.0        6.0    Rain
2017-04-01     1          NaN        9.0   Sunny
2017-05-01     2         28.0        NaN    Snow
2017-07-01     4         32.0        NaN    Rain
2017-10-01     7         34.0        8.0  Cloudy
2017-11-01     8         40.0       12.0   Sunny

In [9]:
#Using Replace Function for getting missing data
import pandas as pd
dp = pd.read_excel("Book 5.xlsx", "Sheet1")
dp

        Days  Temprature  WindSpeed    Events
0 2017-01-01          32          6      Rain
1 2017-01-02      -99999          7     Sunny
2 2017-01-03          28     -99999      Snow
3 2017-01-04      -99999          7  No Event
4 2017-01-05          32     -99999      Rain
5 2017-01-06          31          2     Sunny
6 2017-01-06          34          5  No Event

In [11]:
#Replacing the -99999 values with NaN
import numpy as np
new_dp = dp.replace(-99999, np.NaN)
new_dp

        Days  Temprature  WindSpeed    Events
0 2017-01-01        32.0        6.0      Rain
1 2017-01-02         NaN        7.0     Sunny
2 2017-01-03        28.0        NaN      Snow
3 2017-01-04         NaN        7.0  No Event
4 2017-01-05        32.0        NaN      Rain
5 2017-01-06        31.0        2.0     Sunny
6 2017-01-06        34.0        5.0  No Event

In [12]:
import pandas as pd
dp = pd.read_excel("Book 5.xlsx", "Sheet1")
dp

        Days  Temprature  WindSpeed    Events
0 2017-01-01          32          6      Rain
1 2017-01-02      -99999          7     Sunny
2 2017-01-03          28     -99999      Snow
3 2017-01-04      -99999          7  No Event
4 2017-01-05          32     -99999      Rain
5 2017-01-06          31          2     Sunny
6 2017-01-06          34          5  No Event

In [13]:
#Multiple Replacing value 
import numpy as pd
new_dp = dp.replace({
    "Temprature": -99999, 
    "WindSpeed": -99999, 
    "Event": "No Event"
}, pd.NaN)

new_dp

        Days  Temprature  WindSpeed    Events
0 2017-01-01        32.0        6.0      Rain
1 2017-01-02         NaN        7.0     Sunny
2 2017-01-03        28.0        NaN      Snow
3 2017-01-04         NaN        7.0  No Event
4 2017-01-05        32.0        NaN      Rain
5 2017-01-06        31.0        2.0     Sunny
6 2017-01-06        34.0        5.0  No Event

In [14]:
import numpy as pd
new_dp = dp.replace({
    "Temprature": -99999, 
    "WindSpeed": -99999, 
    "Event": 'No Event',
}, pd.NaN)

new_dp

        Days  Temprature  WindSpeed    Events
0 2017-01-01        32.0        6.0      Rain
1 2017-01-02         NaN        7.0     Sunny
2 2017-01-03        28.0        NaN      Snow
3 2017-01-04         NaN        7.0  No Event
4 2017-01-05        32.0        NaN      Rain
5 2017-01-06        31.0        2.0     Sunny
6 2017-01-06        34.0        5.0  No Event