In [1]:
import pandas as pd

def convert_people_cell(cell):
    if cell=="na":
        return 'Nitika Kumari'
    return cell

def convert_eps_cell(cell):
    if cell=="not available":
        return 'None'
    return cell


df = pd.read_excel("C:\\Users\\Siddharth\\Downloads\\Book 2.xlsx", "Sheet1", converters={
    'People' : convert_people_cell,
    'Eps': convert_eps_cell
})

df

  Ticket     Eps  Revenue  Price         People
0  Google  27.82        87   845     larry page
1     Vmt   4.61       484    65  Nitika Kumari
2    MSFT     -1        85    64     bill gates
3     RIL   None        50  1023  Mukeah ambani
4    TATA    5.6        -1  n.a.     Ratan Tata

In [2]:
# writing/Converting this excel file to new file i.e

df.to_excel("new.xlsx", sheet_name="Stocks")