In [1]:
import pandas as pd

weather_data = {
    'Day': ['1/1/2017','1/2/2017','1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'Temprature' : [32, 33, 55, 45, 21, 28], 
    'WindSpeed': [6, 7, 2, 7, 4, 2],
    'Events': ['Rain', 'Sunny', 'Snow','Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [2]:
rows, column = df.shape

In [3]:
rows

6

In [4]:
column

4

In [5]:
df.shape

(6, 4)

In [6]:
# head() is use to print only frist few record
df.head()

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain

In [7]:
df.head(3)

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow

In [8]:
df.head(2)

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny

In [9]:
# Tail() is use to store few record from down side 
df.tail(2)

        Day  Temprature  WindSpeed Events
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [10]:
df

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [11]:
df.tail(1)

        Day  Temprature  WindSpeed Events
5  1/6/2017          28          2  Sunny

In [14]:
#Printing Columns
df.columns

Index(['Day', 'Temprature', 'WindSpeed', 'Events'], dtype='object')

In [15]:
#PRint The Data INdiviusial
df.Day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [16]:
#Index Slicing it include Row no. 2 but Exclude Row no. 5
df[2:4]

        Day  Temprature  WindSpeed Events
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow

In [17]:
df['Events'] #df.Events both are same

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Events, dtype: object

In [3]:
df

NameError: name 'df' is not defined

In [2]:
df.columns

NameError: name 'df' is not defined