In [1]:
import pandas as pd

weather_data = {
    'Day': ['1/1/2017','1/2/2017','1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'Temprature' : [32, 33, 55, 45, 21, 28], 
    'WindSpeed': [6, 7, 2, 7, 4, 2],
    'Events': ['Rain', 'Sunny', 'Snow','Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [2]:
#Temprature Maximum
df['Temprature'].max()

55

In [4]:
df['Temprature'].min()

21

In [5]:
df['Temprature'].mean()

35.666666666666664

In [6]:
df.describe()

       Temprature  WindSpeed
count    6.000000   6.000000
mean    35.666667   4.666667
std     12.290918   2.338090
min     21.000000   2.000000
25%     29.000000   2.500000
50%     32.500000   5.000000
75%     42.000000   6.750000
max     55.000000   7.000000

In [7]:
df[df['Temprature']>=32]

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow

In [9]:
df[df['Temprature']==df['Temprature'].max()]

        Day  Temprature  WindSpeed Events
2  1/3/2017          55          2   Snow

In [10]:
df

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [13]:
df[df.Temprature==df['Temprature'].max()]

        Day  Temprature  WindSpeed Events
2  1/3/2017          55          2   Snow

In [14]:
df['Day'][df.Temprature==df['Temprature'].max()]

2    1/3/2017
Name: Day, dtype: object

In [17]:
#particular Column when the temprature is maximum
df[['Day', 'Temprature']][df.Temprature==df['Temprature'].max()]

        Day  Temprature
2  1/3/2017          55

In [18]:
df

        Day  Temprature  WindSpeed Events
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7  Sunny
2  1/3/2017          55          2   Snow
3  1/4/2017          45          7   Snow
4  1/5/2017          21          4   Rain
5  1/6/2017          28          2  Sunny

In [20]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
res = df.set_index('Day')
res

#to modify this in new table we write inplace=true

          Temprature  WindSpeed Events
Day
1/1/2017          32          6   Rain
1/2/2017          33          7  Sunny
1/3/2017          55          2   Snow
1/4/2017          45          7   Snow
1/5/2017          21          4   Rain
1/6/2017          28          2  Sunny

In [25]:
res.loc['1/3/2017']

Temprature      55
WindSpeed        2
Events        Snow
Name: 1/3/2017, dtype: object